<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title %></title>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    <link rel='stylesheet' href='/static/css/foundation.css'/>
    <link rel='stylesheet' href='/static/css/custom.css'/>
    <link rel='stylesheet' href='/static/css/page.css'/>


</head>
<body>

<!-- Start Top Bar -->
<%- include('../block/navbar') -%>
<!-- End Top Bar -->

<!-- Start Top Bar -->
<%- include('../block/header') -%>
<!-- End Top Bar -->

<div class="row columns">
    <div class="columns small-10 small-centered textrow ">

        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam
            eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.class="disabled"</p>
    </div>
</div>
<!--I know the code below is so ugly, I just use the simplest and the fast way to write this. might change in future -->
<!--I would recommend using AJAX/XHR/ATOM, table update without refresh would be perfered -->
<% if ((typeof (pnumber) != "undefined") && (typeof (currentPnum) != "undefined")){ %>
    <% if ((pnumber >= 5) && (currentPnum >= 2) ){ %>
        <div class="row columns ">
            <div class="columns small-10 small-centered" style="margin-top: 15px ; margin-bottom: -15px">
                <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                    <li><a href="/table">First</a></li>

                    <li><a href="/table/data/?num=<%= currentPnum - 1 %>&pnumber=<%= pnumber %>"><i
                                    class="fas fa-angle-double-left"></i></a></li>

                    <li>
                        <a href="/table/data/?num=<%= currentPnum - 2 %>&pnumber=<%= pnumber %>"><%= currentPnum - 1 %></a>
                    </li>
                    <li><a href="/table/data/?num=<%= currentPnum - 1 %>&pnumber=<%= pnumber %>"><%= currentPnum %></a>
                    </li>
                    <li class="current"><%= currentPnum + 1 %></li>
                    <% if ( currentPnum + 1 <= pnumber ){ %>
                        <li>
                            <a href="/table/data/?num=<%= currentPnum + 1 %>&pnumber=<%= pnumber %>"><%= currentPnum + 2 %></a>
                        </li>
                    <% } %>
                    <% if ( currentPnum + 2 <= pnumber ){ %>
                        <li>
                            <a href="/table/data/?num=<%= currentPnum + 2 %>&pnumber=<%= pnumber %>"><%= currentPnum + 3 %></a>
                        </li>
                    <% } %>
                    <% if ( currentPnum + 1 <= pnumber ){ %>
                        <li><a href="/table/data/?num=<%= currentPnum + 1 %>&pnumber=<%= pnumber %>"><i
                                        class="fas fa-angle-double-right"></i></a></li>
                    <% } else { %>
                        <li class="disabled"><i class="fas fa-angle-double-right"></i></li>

                    <% } %>

                    <li><a href="/table/data/?num=<%= pnumber %>&pnumber=<%= pnumber %>">Last</a></li>
                    <li><a class="current search" href="/table/search">Search &nbsp;<i class="fas fa-search"></i></a>
                    </li>
                </ul>

            </div>
        </div>
    <% } else { %>
        <div class="row columns ">
            <div class="columns small-10 small-centered" style="margin-top: 15px ; margin-bottom: -15px">
                <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                    <li class="page"><a href="/table">First</a></li>

                    <li class="page disabled"><i class="fas fa-angle-double-left"></i></li>

                    <li class="page current">1</li>
                    <li class="page"><a href="/table/data/?num=1&pnumber=<%= pnumber %>">2</a></li>
                    <li class="page"><a href="/table/data/?num=2&pnumber=<%= pnumber %>">3</a></li>
                    <li class="page"><a href="/table/data/?num=3&pnumber=<%= pnumber %>">4</a></li>
                    <li class="page"><a href="/table/data/?num=4&pnumber=<%= pnumber %>">5</a></li>
                    <li class="page"><a href="/table/data/?num=1&pnumber=<%= pnumber %>"><i
                                    class="fas fa-angle-double-right"></i></a></li>


                    <li class="page"><a href="/table/data/?num=<%= pnumber %>&pnumber=<%= pnumber %>">Last</a></li>
                    <li class="page"><a class="current search" href="/table/search">Search &nbsp;<i
                                    class="fas fa-search"></i></a></li>
                </ul>

            </div>
        </div>



    <% } %>
<% } %>
<!--  above is the button for page-->
<div class="row columns">
    <div class="columns small-10 small-centered">
        <div class=" text-center" id="loading" style="margin-top: 35px">
            <h5><i class="fas fa-spinner fa-spin fa-1.5x"></i>&nbsp;Loading to the page .... </h5>
        </div>
        <% if (typeof (alert) != "undefined") { %>
            <div class="callout warning" style="margin-top: 35px">
                <h5>Warning callout</h5>
                <p><%= alert %></p>
                <p><a href="/table">It's dangerous to go alone, take this.</a></p>
            </div>
        <% } %>
    </div>
</div>
<!-- start table Bar -->
<div id="tableContent" style="border:1px">
    <!-- start table Bar -->
    <% if (typeof (tabledata) != "undefined") { %>
        <div class="row columns">

            <div class="columns small-10 small-centered table-scroll ">


                <table class="hover table-expand">
                    <thead>
                    <tr class="table-expand-row">
                        <% th = Object.keys(tabledata[0]) %>
                        <% for(let i = 1; i < th.length; i++) { %>
                            <th> <%= th[i] %> </th>
                        <% } %>
                    </tr>

                    </thead>
                    <tbody>

                    <% for(let i = 0; i < tabledata.length; i++) { %>
                        <tr class="table-expand-row" data-open-details>
                            <% for(var attribute in tabledata[i]) { %>
                                <% if (attribute == "_id") {
                                    continue
                                } else if (attribute == "sequence") { %>
                                    <td><span class="expand-icon"></span></td>
                                <% } else { %>
                                    <td><%= tabledata[i][attribute] %></td>
                                <% } %>
                            <% } %>
                        </tr>
                        <tr class="table-expand-row-content">
                            <td colspan="15" class="table-expand-row-nested">

                                <p>
                                    <a href="/table/show/?id=<%= tabledata[i]["_id"] %>"><%= tabledata[i]["sequence"] %></a>
                                </p>
                            </td>

                        </tr>

                    <% } %>

                    </tbody>
                </table>

            </div>
        </div>
        <!-- End table Bar -->
    <% } %>
</div>
<!-- End table Bar -->


<!-- Start Fooder Bar -->
<%- include('../block/footer') -%>
<!-- End Fooder Bar -->


<script src="/static/js/vendor/jquery.js"></script>
<script src="/static/js/vendor/what-input.js"></script>
<script src="/static/js/vendor/foundation.min.js"></script>
<script src="/static/js/custom.js"></script>


<script>
    $(document).foundation();
    $(document).ready(function () {
        // build pagination
        $("#loading").hide();
        $("#tableContent").show();

        //ajax aborted
        // $.get({
        //     url: '/table/data',
        //     success:function(data) {
        //       $("#tableContent").html(data);
        //       $("#loading").hide();
        //     }
        // })


        $(".pagination li").click(function () {


            $("#loading").show();
            $("#tableContent").hide();


        })

        $(".disabled").off("click");
        $(".current").off("click");

        $('[data-open-details]').click(function (e) {
            e.preventDefault();
            $(this).next().toggleClass('is-active');
            $(this).toggleClass('is-active');
        });

    });


</script>

<% if ((typeof (pnumber) != "undefined") && (typeof (currentPnum) != "undefined")){ %>
    <script>
        // deal with that pagenation button:
        var pnum = '<%= pnumber %>';
        var cnumber = '<%= currentPnum %>';

        if (pnum <= 140) {
            //here should be a situation that the database <= 140. means only 7 pages
            //i might deal with this later.
        } else {
            switch (cnumber) {
                // using switch for customize.  if user want more number to select before Jumping (current: 2).
                case "1":
                    //for second page
                    $(function () {
                        console.log(cnumber);
                        str = "<a href=\"/table\">1</a>"
                        str1 = "<a href=\"/table\"><i class=\"fas fa-angle-double-left\"></i></a>"
                        str2 = "<a href=\"/table/data/?num=2&pnumber=<%= pnumber %>\"><i class=\"fas fa-angle-double-right\"></i></a>\n"

                        $(".pagination li:eq(2)").removeClass("current").html(str);
                        $(".pagination li:eq(3)").addClass("current").html(2);
                        $(".pagination li:eq(1)").removeClass("disabled").html(str1);
                        $(".pagination li:eq(-3)").html(str2);
                    })


                    break;
                default:
                    $(function () {
                        var a = $(".pagination li a").text();
                        console.log(a);


                    })


                //for rest page


            }


        }


    </script>
<% } %>
</body>
</html>
