<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title><%= title %></title>
  <link rel='stylesheet' href='/static/css/foundation.css'/>
  <link rel='stylesheet' href='/static/css/custom.css'/>



</head>
<body>

<br>
<div class="row column">

  <div class="columns small-11 small-centered  textfasta">
    <p> ><%= data[0].lmp_id %>| <%= data[0].entrez_gene_id %>| <%= data[0].gene_name %>| <%= data[0].gene_symbol %>| <%= data[0].refseq_id %> | <%= data[0].mrna_id %> | <%= data[0].protein_gi %>|
      <br><%= data[0].sequence %>
    </p>
     </div>

</div>


</body>
</html>
